@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@600&display=swap');

/* General */

body {
  font-family: 'Roboto Mono', monospace;
  background-color: rgb(25, 25, 25);
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
}

button,
button:active {
  background-color: rgb(242, 0, 12);
  border: 2px rgb(116, 4, 4);
  width: 42px;
  height: 40px;
  border-radius: 100%;
  text-align: center;
  box-shadow: 0.2em 0.2em rgb(173, 0, 14);
  -webkit-box-shadow: 0.2em 0.2em rgb(173, 0, 14);
  -moz-box-shadow: 0.2em 0.2em rgb(173, 0, 14);
}

button:focus {
  translate: 0.3em 0.3em;
  box-shadow: 0.3em 0.3em rgb(173, 0, 14) inset;
  -webkit-box-shadow: 0.3em 0.3em rgb(173, 0, 14) inset;
  -moz-box-shadow: 0.3em 0.3em rgb(173, 0, 14) inset;
}

/* Clock Body */

.clock-container {
  background-color: rgb(224, 20, 37); 
  width: 350px;
  border-radius: 20px;
  padding: 30px;
  box-shadow: 10px 10px rgb(173, 0, 14);
}

/* Display + Stop/Start/Reset Controls */

#time-left {
  font-size: 70px;
  text-align: center;
  background-color: rgb(0, 0, 0);
  padding: 20px;
  border-radius: 20px;
  box-shadow: 3px 3px rgb(168, 9, 20) inset;
}

#display-controls {
  margin: 10px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: rgb(0, 0, 0);
}

#timer-label {
  font-size: 25px;
  text-align: center;
  padding-top: 2px;
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
  height: 40px;
  flex: 2;
  box-shadow: 3px 3px rgb(173, 0, 14) inset;
}

#timer-ssr {
  flex: 1;
  margin-left: 30px;
  display: flex;
  justify-content: space-between;
  flex-start: end;
}

/* Timer Length Controls */

.length-container {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}

.inc-dec-btn-container {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 140px;
  height:60px;
}

.break-container, 
.session-container {
  text-align: center;
/*   display: inline-block; */
  border: 2px solid rgb(173, 0, 14);
  padding: 10px;
  border-radius: 10px;
  width: 48%;
}

.timer-length {
  font-size: 2em;
}

.break-container,
.inc-arrow {
  margin-right: 12px;
}
